$c1:rgb(0, 8, 34);
$c2:rgb(179, 195, 245);
body {
    background-color: rgb(0, 8, 34);
}

h1 {
    text-align: center;
    color: $c2;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: #777;

}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
    a {
        margin: 10px;
        &:hover{
            padding:10px 15px;
        }
    }
}

#prat {
    background-color: red;
    color: black;
    a {
        &:visited {
            color: #fff;
        }
        &:link {
            text-decoration: none;
            padding: 15px 15px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: rgb(117, 0, 0);
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        &:hover {
            background-color: rgb(255, 68, 68)
        }
        &:active {
            background-color: rgb(255, 68, 68);
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}

#meto {
    background-color: green;
    color: black;
    a {
        &:visited {
            color: #fff;
        }
        &:link {
            text-decoration: none;
            padding: 15px 15px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: rgb(0, 53, 0);
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        &:hover {
            background-color: #3e8e41
        }
        &:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}

#theo {
    background-color: blue;
    color: white;
    a {
        &:visited {
            color: #fff;
        }
        &:link {
            text-decoration: none;
            padding: 15px 15px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: rgb(0, 0, 136);
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        &:hover {
            background-color: rgb(71, 71, 247)
        }
        &:active {
            background-color: rgb(71, 71, 247);
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}
