$c1:#00e7ff42;
body {
    color: rgb(255, 242, 206);
    background-color: rgb(0, 8, 34);
}

nav {
    border-left: $c1 2px solid;
    border-right: $c1 2px solid;
    h2 {
        background-color: $c1;
        color: white;
        width: 100%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        text-align: center;
    }
    background-color: darkslategrey;
    ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap;
        li {
            background-color: white;
            display: inline;
            border-radius: 10%;
            text-align: center;
            &:hover {
                background-color: grey;
                a {
                    font-size: 1em;
                    &:link {
                        color: white;
                        text-decoration: none;
                    }
                    &:visited {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            a {
                width: 33%;
                padding: 2px 10px;
                &:link {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

section {
    font-size:25px;
    color: rgb(46, 46, 46);

    width: 80%;
    margin: 0 auto;
    @media screen and (orientation: portrait) {
        h2 {
            background-color: $c1;
            color: wheat;
            border-bottom-right-radius: 50%;
            font-size: 3vw;
        }
    }
    @media screen and (orientation: landscape) {
        h2 {
            background-color: $c1;
            color: rgb(238, 238, 238);
            border-bottom-right-radius: 50%;
            font-size: 1.9em;
        }
    }
    border-left: $c1 2px solid;
    background-color: #bac8d4b4;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
    font-weight: bold;
    div {
        width: 100%;
        @media screen and (orientation: landscape) {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            align-items: stretch;
        }
        article {
            @media screen and (orientation: landscape) {
                width: 100%;
                display: block;
                align-self: center;
                flex: 0 1 auto;
                p {
                    padding-left: 10px;
                }
                &:last-child {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                
            }
            @media screen and (orientation:portrait) {
                width: 100%;
                p {
                    padding: 5px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}




em {
    color: yellow;
    font-weight: bold;
}



    
}aside {
    position: fixed;
    @media screen and (orientation: landscape) {
        top: 0;
    }
    @media screen and (orientation:portrait) {
        bottom: 0;
    }
    right:0;
    text-align:center;
    background:rgba(255, 0, 0, 0.205);
    padding:5px;
    transition:background 0.2s;
    width: 15%;
    &:hover {
        background: rgb(255, 0, 0);
    }
    a {
        i {
            padding-right: 10px;
        }
        li {
            padding: 5px;
        }
        &:link {
            color: white;
            text-decoration: none;
            &:after {
                content: "Menu Principal";
            }
        }
        &:visited {
            color: white;
            text-decoration: none;
        }
    }}

    img{
        width:100%;
        &:hover{
            cursor:pointer;
        }
}